arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
binaryornot==0.4.4
certifi==2018.10.15
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
decorator==4.3.0
future==0.17.1
idna==2.7
ipdb==0.11
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jinja2-time==0.2.0
jupyter-client==5.2.3
jupyter-core==4.4.0
MarkupSafe==1.1.0
more-itertools==4.3.0
numpy==1.15.2
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.0
poyo==0.4.2
prompt-toolkit==2.0.6
ptyprocess==0.6.0
py==1.7.0
Pygments==2.2.0
pytest==4.0.1
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.2
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
tiingo==0.8.0
-e git+git@github.com:robren/tiingo_prices.git@1b5270664ec93c6ed9f78ffa985647997a942ea1#egg=tiingo_prices
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
whichcraft==0.5.2
